:root {
  --background-color: #ebe8e0;
  --text-color: #332d26;
  --text-color-light: #806f5b;
  --border-color: #dfcaa2;
  --border: 1px solid var(--border-color);
  --border-radius: 12px;
  --box-shadow-color: #c6b59c27;
  --box-shadow-color-image: #ab9577;
}

body,
html {
  width: 100vw;
  height: 100vh;
  height: 100svh;
  display: flex;

  flex-grow: 1;
  flex-direction: column;
  background-color: var(--background-color);
  overflow-x: hidden;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: auto;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
  margin: 0 auto;
}

h1,
h2,
h3 {
  padding: 0em;
  margin: 0;
  letter-spacing: -0.1em;
}

* {
  box-sizing: border-box;
}

/* html,
body,
body > div:first-child,
div#__next {
  height: 100%;
} */